</head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
  <script type=text/javascript>
    $(function() {
        $('a#process_input').bind('click', function() {
          var numOfHours = "";
          numOfHours = $("#numOfHours").val();
          console.log(numOfHours);
          $.getJSON('/temperatures/'+ numOfHours, {
            //below it assings a variable numOfHours to the input with the name numOfHours below
          }, function(data) {
            //here data is the json that we return and temperatures is the key we are getting and setting that to #result
            //#result is whatever we set as id=result in the html
            var yTemp = [];
            var xTime = [];
            
              console.log(data);
              console.log(data['temperatures']);
              
              for(i = 0; i < data['temperatures'].length; i++) {
                yTemp.push(data['temperatures'][i]['temperature']);
                yTemp[i] = parseFloat(yTemp[i]);
              }
              
              for(i = 0; i < data['temperatures'].length; i++) {
                xTime.push(data['temperatures'][i]['date']);
                xTime[i] = xTime[i].substring(1,xTime[i].length-1)
                xTime[i] = new Date(xTime[i])
              }
              
              console.log(yTemp);
              console.log(xTime);
              
              var graphData = [
              {
                x: xTime,
                y: yTemp,
                type: 'scatter'
              }
            ];

            Plotly.newPlot('myDiv', graphData);
          });
          return false;
          });
        });

  </script>
</head>
<body>
  <div>
    <h3>Temp Display</h3>
    <!-- we used form so we can press enter to submit the form -->
    <form>
      <input type=text size=5 name=numOfHours id=numOfHours>
      <!--id=process_input allows us to tie our button to a javascript function -->
      <a href='#' id=process_input><button>Submit</button></a>
    </form>
  </div>
  <div id=myDiv>
  </div>
</body>